.tile {
    width: 75px;
    height: 75px;
    /* background-color: red; */
    display: grid;
    place-content: center;
}

.black-tile {
    background-color: var(--primary);
}

.white-tile {
    background-color: #fff;
}