
.contact-right p {
    line-height: 27px;
}
.contact-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
  
}

.item-text {
    color: #607B96;
    width: 95%;
    word-wrap: break-word;
}

.item-text:hover {
    color: #fff;
    cursor: pointer;
}
