h1 {
    color: var(--primary);
  }
  
  .social h4 {
    font-size: 15px;
    color: #3A49A4;
    font-weight: 500;
  }
  
  .nav {
    background-color: var(--secondary);
    /* height: 30px; */
    display: flex;
    align-items: center;
    /* padding: 14px 20px; */
    justify-content: space-between;
    /* background-color: red; */

  }
  
  
  
  .linksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 60%; */
    /* background-color: red; */
  
  }
  
  .leftContainer {
    display: flex;
    /* background-color: red; */
    width: 13%;
    justify-content: space-between;
    /* background-color: orange; */
    height: 100%;
  }
  
  .link a{
    color: #607B96;
    text-decoration: none;
    padding-top: 10px;
    border-right: .5px solid #607B96;
    border-left: .5px solid #607B96;
    padding-right: 14px;
    padding-left: 14px;
    font-size: 14px;
  }
 
  
  .linkGithub a {
    text-decoration: none;
    padding-top: 10px;
    border-left: .5px solid #607B96;
    padding-right: 14px;
    padding-left: 14px;
    font-size: 14px;
    color: var(--primary);
    border-right: 0px;
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
  
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
  }