@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap");


* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  --primary: #4D5BCE;
  --secondary: #0D1117;
  --border-color: #1E2D3D;

}

body {
  margin: 0;
  padding: 0;
}

.App {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

